.bar {
  background: linear-gradient(91.82deg, #35363E 27.66%, #D52B1E 86.25%);
  height: 120px;
  display: flex;
  margin: 1rem -1rem 0rem -1rem;
  padding: 0rem 8.5rem;

  @media all and (max-width: 390px) {
      padding: 0 2.5rem;
  }
}

.textbox {
  display: flex;
  align-items: flex-end;
}

.icon {
  width: 24px;
  height: 24px;
}

.link {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  @media all and (max-width: 390px) {
      margin: 0rem -2rem;
  }
}

.linktext {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: white;
}



.progressbar {
  background-color: #DDDEE3;
  padding: 3px;
  margin: 0rem -1rem;
}

.progressbar>div {
  background-color: #D52B1E;
  width: 35%;    
  height: 8px;
  border-radius: 0px 5px 5px 0px;
  @media all and (max-width: 390px) {
      width: 30%;    
      
  }
}